<div class="ui container">
  <h1 class="ui header"><%= t('views.lenses.index.header') %></h1>
  <% if @lenses.empty? %>
    <p><%= t('views.lenses.index.empty_list') %> </p>

  <% else %>
  <div class="ui grid">
    <div class="column">
      <table class="ui table">
        <tbody>
        <% @lenses.each do |lens| %>
          <tr class="<%= 'negative' if lens.usage_days >= lens.lens_type.wearing_period %>">
            <td>
              <%= t('views.lenses.index.name') %>: <strong><%= lens.lens_type.manufacturer %> (<%= lens.lens_type.prescription %>)</strong><br>
              <%= t('views.lenses.index.d') %>: <strong><%= lens.usage_days %> <%= t('views.lenses.index.out_of') %> <%= lens.lens_type.wearing_period %></strong><br>
              <%= t('views.lenses.index.last_usage') %>: <strong><%= (l(lens.last_usage_date) if lens.last_usage_date.present?) || '–' %></strong>
            </td>
            <td>
              <%= link_to t('views.lenses.index.use_button'), add_usage_lens_path(lens), class: 'mini ui blue button' %><br>
              <%= link_to t('views.lenses.index.lens_log'), lens_path(lens) %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
    <% end %>
  <p><%= link_to t('views.lenses.index.add_lens'), lens_types_path, class: 'mini ui blue button' %></p>
</div>
