<h1 class="ui header"><%= t('views.lenses.show.header') %> "<%= @lens.lens_type.manufacturer %>
  (<%= show_prescription(@lens.lens_type.prescription) %>)"</h1>

<div class="ui segment">
  <p><strong><%= t('views.lenses.show.usage_hours') %>:</strong> <%= show_rounded(@lens.usage_hours.to_f / 24) %></p>
  <div class="ui relaxed divided list">
    <% count = 0 %>
    <% @usages.each do |usage| %>
      <div class="item">
        <%= count += 1 %>. <%= t('views.lenses.show.on_date') %>
        <%= l(usage.usage_date) %> <%= t('views.lenses.show.use') %> <%= usage.usage_hours.to_i %> <%= t('views.lenses.show.hours') %>
        <span>
        <%= link_to delete_usage_lens_path(@lens, usage_id: usage) do %>
          <i class="icon delete"></i>
        <% end %>
        </span>

      </div>
    <% end %>
  </div>

</div>

<%= link_to t('views.lenses.show.back'), lenses_path, class: 'ui button' %>
