<% provide(:title, t('views.sessions.new.log_in_header')) %>

<h1><%= t('views.sessions.new.log_in_header') %></h1>

<div class="ui grid">
  <div class="column center">
    <%= form_with(url: login_path, scope: :session, class: 'ui form') do |f| %>
      <div class="field">
        <%= f.label :email %>
        <%= f.email_field :email, class: 'ui input' %>
      </div>

      <div class="field">
        <%= f.label :password, t('views.sessions.new.password') %>
        <%= f.password_field :password, class: 'ui input' %>
      </div>

      <div class="field">
        <div class="ui checkbox">
          <%= f.check_box :remember_me, class: 'hidden' %>
          <%= f.label :remember_me do %>
            <%= content_tag(:span, t('views.sessions.new.remember_me')) %>
          <% end %>
        </div>
      </div>

      <%= f.submit t('views.sessions.new.log_in_button'), class: 'ui primary button' %>
    <% end %>

    <p><%= t('views.sessions.new.new_user') %> <%= link_to t('views.sessions.new.sign_up'), signup_path %></p>
  </div>
</div>
