<header class="ui menu">

  <% if logged_in? %>
    <%= link_to t('views.layouts.header.lenses'), lenses_path, id: "lenses", class: "item" %>
    <%= link_to t('views.layouts.header.lens_types'), lens_types_path, id: "lens_types", class: "item" %>
    <div class="right menu">
      <div class="item">
        <%= current_user.name %>
      </div>
      <%= link_to t('views.layouts.header.logout'), logout_path,
                  data: {
                    "turbo-method": :delete,
                    "turbo-confirm": t('views.layouts.header.confirm_logout')
                  },
                  class: "item" %>
    </div>
  <% else %>
    <%= link_to t('views.layouts.header.login'), login_path, class: "item" %>
  <% end %>


</header>
